*{ margin: 0%; padding: 0%;}

main{
    width: 90%;
    margin: 50px auto;
    border: 1px solid black;
    color: white;
    display: grid;
    grid-template-rows: repeat(300px, 150px);
    grid-template-columns: repeat( auto-fit minmax(300px, 300fr));
    grid-gap: 20px;
    grid-auto-rows: 150px;
    /*align-items: center;
    justify-content: start;
    justify-items: center;*/
    
}

.div1{ background: violet;}
.div2{ background: indigo;
    /* grid-column: 1/4 ;*/
}
.div3{ background: blue;}
.div4{ background: green;}
.div5{ background: orange;
    /*grid-row-start: 1; grid-row-end: 2;
    grid-column-start: 2; grid-column-end:;*/
}
.div6{ background: red;}
